header {
    background-image: url(./images/c3993b57-4750-4f91-9842-ed70c7aea5f9.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

    nav {
        ul {
            display: flex;
            justify-content: space-around;
            align-items: center;
            position: relative;

            li {
                a {
                    color: white;
                    &:hover::after{
                        content: "";
                        width: 20px;
                        height: 2px;
                        background-color: rgb(155, 25, 25);
                        display: block;
                        position: absolute;
                        // font-size: 20px;




                    }
                }
            }


        }
    }

}

.about {
    height: 80vh;
    display: flex;
    align-items: center;
    color: white;
    justify-content: space-around;

    .explore {
        display: grid;
        row-gap: 40px;

        p {
            text-decoration: line-through;
            color: rgb(124, 74, 9);
            font-size: 21px;
            font-family: 'Edu NSW ACT Foundation', cursive;


        }
        h1{
            font-size: 40px;
        }

    }

    .img1 {
        height: 100%;
        img {width: 650px;

            position: relative;
            left: 30%;
            top: 45%;
            transition: 0.9s;
            &:hover{
                transform: translate(0%,15%);
            }
        }

    }
}
.about{
   
    .explore{
        h1{
            text-transform: uppercase;
            font-family: 'Source Sans Pro', sans-serif;
        }
        a{
            color: white;
            background-color: rgb(133, 87, 27);
            padding: 9px;
            width: 80px;
            font-size: 20px; 
            &:hover{
                background-color: rgba(240, 204, 158, 0.767);
                color: black;
            }
        }
       
    }
}